In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
mpg = sns.load_dataset('mpg')

In [3]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null float64
weight          398 non-null int64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null object
name            398 non-null object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [5]:
import missingno as mino

In [8]:
mino

In [9]:
import pandas as pd

In [11]:
pd.get_dummies(mpg.origin)

     europe  japan  usa
0         0      0    1
1         0      0    1
2         0      0    1
3         0      0    1
4         0      0    1
5         0      0    1
6         0      0    1
7         0      0    1
8         0      0    1
9         0      0    1
10        0      0    1
11        0      0    1
12        0      0    1
13        0      0    1
14        0      1    0
15        0      0    1
16        0      0    1
17        0      0    1
18        0      1    0
19        1      0    0
20        1      0    0
21        1      0    0
22        1      0    0
23        1      0    0
24        0      0    1
25        0      0    1
26        0      0    1
27        0      0    1
28        0      0    1
29        0      1    0
..      ...    ...  ...
368       0      0    1
369       0      0    1
370       0      0    1
371       0      0    1
372       0      0    1
373       0      0    1
374       0      0    1
375       1      0    0
376       0      1    0
377       0      1    0
378       0      0    1
379       0      0    1
380       0      1    0
381       0      1    0
382       0      1    0
383       0      1    0
384       0      1    0
385       0      1    0
386       0      0    1
387       0      0    1
388       0      0    1
389       0      0    1
390       0      1    0
391       0      0    1
392       0      0    1
393       0      0    1
394       1      0    0
395       0      0    1
396       0      0    1
397       0      0    1

[398 rows x 3 columns]

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
ohe = OneHotEncoder()

In [14]:
ohe.fit_transform(mpg[['origin']])

<398x3 sparse matrix of type '<class 'numpy.float64'>'
	with 398 stored elements in Compressed Sparse Row format>

In [15]:
ori = mpg.origin.map({'usa':0, 'eruop':1, 'japan':2})

In [17]:
from tensorflow.keras.utils import to_categorical