In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
                  ,header = None)

In [5]:
data.rename({'class':'class_'},axis=1,inplace=True)

In [6]:
data = pd.read_csv('data/tb.csv', engine='python')

In [7]:
data2 = data.melt(['iso2','year']).dropna()

In [14]:
data2[['variable']]

         variable
4          new_sp
5          new_sp
6          new_sp
7          new_sp
8          new_sp
9          new_sp
10         new_sp
11         new_sp
12         new_sp
13         new_sp
14         new_sp
15         new_sp
16         new_sp
17         new_sp
18         new_sp
35         new_sp
36         new_sp
37         new_sp
38         new_sp
39         new_sp
40         new_sp
41         new_sp
42         new_sp
43         new_sp
44         new_sp
57         new_sp
58         new_sp
59         new_sp
60         new_sp
61         new_sp
...           ...
120309  new_sp_fu
120387  new_sp_fu
120442  new_sp_fu
120444  new_sp_fu
120445  new_sp_fu
120471  new_sp_fu
120479  new_sp_fu
120504  new_sp_fu
120505  new_sp_fu
120506  new_sp_fu
120565  new_sp_fu
120589  new_sp_fu
120590  new_sp_fu
120591  new_sp_fu
120592  new_sp_fu
120621  new_sp_fu
120649  new_sp_fu
120705  new_sp_fu
120706  new_sp_fu
120734  new_sp_fu
120763  new_sp_fu
120792  new_sp_fu
120819  new_sp_fu
120878  new_sp_fu
120935  new_sp_fu
120964  new_sp_fu
121038  new_sp_fu
121092  new_sp_fu
121119  new_sp_fu
121148  new_sp_fu

[38619 rows x 1 columns]